[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp-jinja2 = "~=1.2.0"
aiohttp-cors = ">=0.7.0"
connexion = "*"
pyyaml = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
