# TODO: temporary patched version of Connexion for proper form upload support
-e git+https://github.com/STARInformatics/connexion.git@fix-urlencoded-body-parameter-parsing#egg=connexion

swagger-ui-bundle == 0.0.6
aiohttp_jinja2 == 1.2.0
jinja2 == 2.11.3
aiohttp_cors >= 0.7.0

# KGE specific
botocore<1.21.0,>=1.20.12
boto3 >= 1.17.0
pyyaml
aiohttp<3.7
aiohttp-session
aiomcache

PyGithub
kgx
