PyShExC
biothings-client
biothings-explorer

# temporary workaround (kgx and linkml have the same conflict):
# Align the 'black' package as kgx with respect to click dependency.
# linkml
-e git+https://github.com/linkml/linkml.git@issue-592-patch#egg=linkml
# kgx>=1.5.5
-e git+https://github.com/biolink/kgx.git@patch-issue-371#egg=kgx
