# TODO: temporary patched version of Connexion for proper form upload support
# connexion
-e git+https://github.com/STARInformatics/connexion.git@fix-urlencoded-body-parameter-parsing#egg=connexion
Flask~=2.0.1
swagger-ui-bundle == 0.0.6
aiohttp_jinja2
jinja2
aiohttp_cors >= 0.7.0
aiohttp>=3.8.1
aiohttp-session>=2.11.0
aiomcache

requests~=2.26.0
botocore
boto3
