# TODO: temporary patched version of Connexion for proper form upload support
# connexion
-e git+https://github.com/STARInformatics/connexion.git@fix-urlencoded-body-parameter-parsing#egg=connexion
# TODO: temporary patched version of KGX for proper streaming of files for validation
# kgx
-e git+https://github.com/STARInformatics/kgx.git@streaming-validation#egg=kgx

multidict
swagger-ui-bundle == 0.0.6
aiohttp_jinja2 == 1.2.0
jinja2 == 2.11.3
aiohttp_cors >= 0.7.0

# KGE specific
botocore<1.21.0,>=1.20.12
boto3 >= 1.17.0
s3-tar
pyyaml
aiohttp<3.7
aiohttp-session
aiomcache
jsonschema
PyGithub
smart_open