# 4 Feb  2022 - explicitly pulling in 'default' dependencies here for some modules.
# May need to review whether or not versions pulled are fully compatible with the other fixed dependencies below

wheel~=0.36.2

docker
pandas
graphviz

pytz
cffi
prologterms
mypy
mypy-extensions
prefixcommons
platformdirs
PyJWT
pathspec
commonmark
pynacl
jsonasobj
jsonlines
jsonstreams
frozenlist
ordered-set
websocket_client
yarl
pyld
typing_extensions
tomli
terminaltables
pbr
snowballstemmer
Pygments
Babel
alabaster
antlr4-python3-runtime
rdflib_jsonld
PyJSG
SPARQLWrapper
