{% extends "layout.html" %}
{% block scripts %}
    <script>
        async function DownloadFile(source)
        {
            let kg_name = document.getElementById(source.id).value;

            console.log(
                "DownloadFile(session_id: '{{session}}', "+
                "action: '"+source.action+"', "+
                "KG Name: '"+kg_name+"')"
            );

            let url = '/' + kg_name + '/' + source.action;

            console.log("Downloading  URL: '"+url+"'");

            return;

            let formData = new FormData();
            formData.append("session", "{{session}}");

            try {
               let r = await fetch(url, {method: "GET", body: formData});
               console.log('HTTP response code:',r.status);
            } catch(e) {
               console.log('File download error:', e);
            }
        }
    </script>
{% endblock %}
{% block menu %}
{% include "logout.html" %}
{% endblock %}
{% block content %}
    <h1>KGE Archive</h1>
    <p>What do you want to do?</p>

    <h3>Upload a Knowledge Graph</h3>
    <form action="/register" method="get">
        <!-- https://stackoverflow.com/a/9882750/1991892 -->
        <input type="hidden" name="session" value="{{session}}" />
        <input type="submit" value="Register KGE File Set" /><br>
        <small>This is the first step required for uploading.</small>
    </form>

    <h3>Access a Knowledge Graph</h3>

    <p></p><label for="kg_name">Name of Knowledge Graph to Download: </label>
    <input type="text" name="kg_name"/>

    <form id="knowledge_map" method="get" onsubmit="DownloadFile(this)">
        <input type="submit" value="Download Metadata" />
    </form>

    <form id="access" method="get" onsubmit="DownloadFile(this)">
        <input type="submit" value="Download Data File(s)" />
    </form>
{% endblock %}
