{% extends "layout.html" %}
{% block content %}
<h1>Upload a KGE File Set:</h1>
<form name="formData"
      method="post"
      action="/upload/{{kg_name}}?session={{session}}"
      enctype="multipart/form-data"
>
    <!-- input name="body" type="hidden" -->

    <h1>{{kg_name}}</h1>
    <h2>{{submitter}}</h2>

    <p>Data File: <input type="text" name="data_file_name"></p>
    <p>Metadata File: <input type="text" name="metadata_file_name"></p>
    <p><input type="submit" value="Upload"></p>
</form>
{% endblock %}
