{% extends "layout.html" %}
{% block scripts %}
    <script>
        function help(msg)  {
            if(msg) {
                window.alert(msg);
            }
        }
    </script>
{% endblock %}
{% block menu %}
{% include "logout.button" %}
{% include "home.button" %}
{% endblock %}
{% block title %}Register a new KGE File Set Version{% endblock %}
{% block content %}
<form method="post"
      action="{{registration_action}}"
      enctype="application/x-www-form-urlencoded"
      accept-charset="utf-8"
>
<div style="font-size: smaller">Mandatory fields noted by a '<span style="color: red; font-weight: bold">*</span>'.</div>
<table>
<tr>
<td>
<b>Submitter:</b>{{submitter}}<br>
<b>Email:</b> {{submitter_email}}
</td>
<td>
<p><input type="submit" value="Register Graph"></p>
</td>
</tr>
<tr>
<td colspan="2">
    <input id="submitter" type="hidden" name="submitter" value="{{submitter}}" /><br>
    <input id="submitter_email" type="hidden" name="submitter_email" value="{{submitter_email}}" />
    <p>
    <!-- label  class="label" for="kg_version"><span style="color: red; font-weight: bold">*</span> Version</label><br>
    <input id="kg_version" class="textbox" type="text" name="kg_version" value="{{kg_version}}" required/ -->
    <h3><span style="color: red; font-weight: bold">*</span>Knowledge Graph File Set Version:</h3>
    <label  class="label" for="major_version">Major:</label>
    <input id="major_version" type="number" min="1" step="1" value="{{major_version}}"/><br>
    <label  class="label" for="minor_version">Minor:</label><br>
    <input id="minor_version" type="number" min="0" step="1" value="{{minor_version}}"/><br>
    <label  class="label" for="date_stamp">Minor:</label><br>
    <input id="date_stamp" type="date" min="0" step="1" value="{{date_stamp}}"/>
</td>
</tr>
</table>
</form>
{% endblock %}
{% block app_footer %}
(*) For examples of good Knowledge Graph names,
see the <a href="https://smart-api.info/registry" target="_blank">SmartAPI Registry</a>.
{% endblock %}
