{% extends "layout.html" %}
{% block scripts %}
    <script>
        function help(msg)  {
            if(msg) {
                window.alert(msg);
            }
        }

        let biolink_model_releases = [];

        async function LoadBiolinkReleases() {

            {% for release in biolink_model_releases %}
                biolink_model_releases.push("{{ release }}");
            {% endfor %}

            let biolink_model_release = document.getElementById('biolink_model_release');
            biolink_model_release.value = biolink_model_releases[0];

            //window.alert("Biolink Releases: " + JSON.stringify(biolink_model_releases));

            let br_options = "";
            Object.entries(biolink_model_releases).forEach(([i,r]) => {
                br_options += '<option value="' + r + '">' + r + '</option>';
            });
            document.getElementById("select_biolink_model_release").innerHTML = br_options;
        }

        async function setBiolinkRelease(selection) {
            let biolink_model_release = document.getElementById('biolink_model_release');
            biolink_model_release.value = selection.value;
            //window.alert("Selected Biolink Model Version: " + biolink_model_release.value);
        }
    </script>
{% endblock %}
{% block body %}<body onload="LoadBiolinkReleases()">{% endblock %}
{% block menu %}
{% include "logout.button" %}
{% include "home.button" %}
{% endblock %}
{% block title %}Register New Version of KGE File Set<br>
                 for Knowledge Graph<br>{{kg_name}}{% endblock %}
{% block content %}

<div style="align-content: center;" >

    <form method="post"
          action="{{registration_action}}"
          enctype="application/x-www-form-urlencoded"
          accept-charset="utf-8"
    >
        <input id="kg_id" type="hidden" name="kg_id" value="{{kg_id}}" />

        <span style="font-size: smaller">Mandatory fields noted by a '<span style="color: red; font-weight: bold">*</span>'.</span><br>

        <p></p>

        <b>Submitter:</b>{{submitter_name}},&nbsp; <b>Email:</b> {{submitter_email}}
        <input id="submitter_name" type="hidden" name="submitter_name" value="{{submitter_name}}" />
        <input id="submitter_email" type="hidden" name="submitter_email" value="{{submitter_email}}" />

        <p></p>

        <label class="label" for="select_biolink_model_release">Biolink Release:</label>
        <select id="select_biolink_model_release" onchange="setBiolinkRelease(this)">
        </select>

        <p></p>

        <b><span style="color: red; font-weight: bold">*</span>File Set Version:&nbsp;</b>
        <label  class="label" for="fileset_major_version">Major:</label>
        <input id="fileset_major_version"
               name="fileset_major_version"
               type="number"
               min="1" step="1"
               value="{{fileset_major_version}}"
               size="2"
        />
        <label  class="label" for="fileset_minor_version">Minor:</label>
        <input id="fileset_minor_version"
               name="fileset_minor_version"
               type="number"
               min="0" step="1"
               value="{{fileset_minor_version}}"
               size="2"
        />

        <p></p>

        <label  class="label" for="date_stamp">Date Stamp:</label>
        <input id="date_stamp"
               name="date_stamp"
               type="date" min="0"
               step="1"
               value="{{date_stamp}}"
        />

        <p></p>

        <input id="biolink_model_release" type="hidden" name="biolink_model_release"/>

        <input type="submit" value="Register File Set"/>
    </form>

</div>

{% endblock %}
