{% extends "layout.html" %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <script>
        async function DownloadFile(source)
        {
            let kg_name = document.getElementById('kg_name').value;

            console.log(
                "DownloadFile(action: '"+source.id+"', "+
                "KG Name: '"+kg_name+"')"
            );

            let url = '/archive/' + kg_name + '/' + source.id;

            console.log("Downloading  URL: '"+url+"'");

            let formData = new FormData();

            try {
                // TODO: What happens to the data returned here?
                // TODO: Should this fetch rather be a redirect in a separate tab or window?
               let r = await fetch(url, { method: "GET"});
               console.log('HTTP response code:',r.status);

            } catch(e) {
               console.log('File download error:', e);
            }

            // block further propagation of the submit event here?
            return false;
        }


        $(document).ready(function () {
            var cache = {};
            $('#kg_name').autocomplete({
                source: function( request, response ) {
                    fetch("http://localhost:8080/archive/catalog")
                        .then(body => body.text())
                        .then(text =>
                            Array.from(new Set(
                                text.replaceAll(/[\[\]]/g, '', ).split(', ')
                                    .map(str => str.replaceAll('\'', '', ))
                            ))
                        )
                        .then(array => response(array));
                }
            });

        })

    </script>
{% endblock %}
{% block menu %}
{% include "logout.button" %}
{% endblock %}
{% block title %}KGE Archive{% endblock %}
{% block content %}
    <p>What do you want to do?</p>
    <table width="50%">
        <tr>
            <td>
                <center>
                    <h3>Upload a Knowledge Graph</h3>
                </center>
            </td>
            <td>
                <center>
                    <h3>Access a Knowledge Graph</h3>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                <center>
                    <a href="/register"><button>Register KGE File Set</button></a>

                    <!-- Don't need a form here - don't have the session_id anymore.
                         Simple clickable button is better, and is CSS formatted the same.
                         Use it now to avoid the trailing query parameter '?'-->
                    <!-- form action="/register" method="get">
                        <! -- https://stackoverflow.com/a/9882750/1991892 -- >
                        <input type="submit" value="Register KGE File Set" /><br>
                        <small>This is the first step required for uploading.</small>
                    </form -->

                </center>
            </td>
            <td>
                <center>
                    <p><label for="kg_name"><b>Graph Name: </b></label><br>

                    <input id="kg_name" type="text"/>

                    <p>
                    <form id="knowledge_map" method="get" onsubmit="DownloadFile(this)">
                        <input type="submit" value="Download Metadata" />
                    </form>

                    <form id="access" method="get" onsubmit="DownloadFile(this)">
                        <input type="submit" value="Download Data File(s)" />
                    </form>
                </center>
            </td>
        </tr>
    </table>
{% endblock %}
