{% extends "layout.html" %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"></script>
    <script>
        // empty catalog... needs to be retrieved from the back end
        let kgea_catalog = {};
        async function showVersions(selectObject) {
            let kg_id = selectObject.value;
            if(kg_id in kgea_catalog) {
                let versions = kgea_catalog[kg_id].versions;
                let version_options = '';  // '<option value="latest">Latest</option>'; // don't deal with 'latest' yet
                versions.forEach((v,_) => {
                    version_options += '<option value="' + v + '">' + v + '</option>';
                });
                document.getElementById('select_fileset_version').innerHTML = version_options;
            } else {
                document.getElementById('select_fileset_version').innerHTML = ""; // no kg_id selected?
            }
        }

        async function getCatalog() {
            fetch("{{get_catalog}}", { method: "GET",  credentials: "include"})
                .then(
                    response => {
                        console.log('getCatalog() HTTP response code:', response.status);
                        response.json()
                            .then(catalog => {
                                kgea_catalog = catalog;
                                // console.log("Catalog: " + JSON.stringify(kgea_catalog));
                                // window.alert("Catalog: " + JSON.stringify(kgea_catalog));
                                let fs_options = '<option value="">Select...</option>';
                                Object.entries(kgea_catalog).forEach(([k,v]) => {
                                    fs_options += '<option value="' + k + '">' + v.name + '</option>';
                                });
                                document.getElementById('select_kg_id').innerHTML = fs_options;
                            })
                            .catch(error => {
                                    let err_msg = "getCatalog() response.text promise access ERROR: " + error;
                                    console.log(err_msg);
                                    window.alert(err_msg);
                            })
                })
                .catch(error => {
                        let err_msg = "Top level getCatalog() fetch call ERROR: " + error;
                        console.log(err_msg);
                        window.alert(err_msg);
                });
        }

        function GetGraphName(kg_id) {
            if(kg_id in kgea_catalog) {
                return kgea_catalog[kg_id].name;
            }
        }

        async function ViewMetadata(source) {

            let kg_id = document.getElementById('select_kg_id').value;
            if(!kg_id) {
                window.alert("To add a new KGE file set, first register or choose a knowledge graph.");
                return
            }

            let fileset_version = document.getElementById('select_fileset_version').value;

            // console.log("Entering ViewMetadata(kg_id: '" + kg_id + "', fileset_version: '"+fileset_version+"')");

            let metadata_url = `{{metadata_page}}?kg_id=${kg_id}&fileset_version=${fileset_version}&kg_name=${GetGraphName(kg_id)}`;

            // console.log("ViewMetadata() URL: '" + metadata_url + "'");
            // window.alert("ViewMetadata() URL: '" + metadata_url + "'");

            try {
                let a = document.createElement('a');
                a.href = metadata_url;

                // we need to append the element to the DOM,
                // otherwise it will not work in Firefox
                document.body.appendChild(a);

                a.click();

                // afterwards we remove the element again
                a.remove();

            } catch(e) {
               console.log('ViewMetadata error:', e);
            }

            // block further propagation of the event here?
            return false;
        }

        async function AddNewFileSet(source) {

            let kg_id = document.getElementById('select_kg_id').value;
            console.log("Entering AddNewFileSet(kg_id: '" + kg_id + "')");

            if(!kg_id) {
                window.alert("To add a new KGE file set, first register or choose a knowledge graph.");
                return
            }

            console.log("Entering AddNewFileSet(kg_id: '" + kg_id + "')");

            let add_fs_url = `{{fileset_registration_form}}?kg_id=${kg_id}&kg_name=${GetGraphName(kg_id)}`;

            // console.log("AddNewFileSet() URL: '" + add_fs_url + "'");
            // window.alert("AddNewFileSet() URL: '" + add_fs_url + "'");

            try {
                let a = document.createElement('a');
                a.href = add_fs_url;

                // we need to append the element to the DOM,
                // otherwise it will not work in Firefox
                document.body.appendChild(a);

                a.click();

                // afterwards we remove the element again
                a.remove();

            } catch(e) {
               console.log('AddNewFileSet error:', e);
            }

            // block further propagation of the event here?
            return false;
        }

        async function DownloadFile(source)
        /*
         * We use this function both for downloading
         * the archive as downloading the associated SHA1 hash.
         * 'source.target.id' differentiates the two.
         */
        {
            let kg_id = document.getElementById("select_kg_id").value;
            let fileset_version = document.getElementById("select_fileset_version").value;

            if(!kg_id) {
                window.alert("Please choose target knowledge graph.");
                return
            }

            if(!fileset_version) {
                window.alert("Please choose target file set version.");
                return
            }

            console.log(
                "DownloadFile(" +
                    "action: '" + source.target.id + "', " +
                    "kg_id: '" + kg_id + "', " +
                    "fileset_version: '" + fileset_version + "'" +
                "')"
            );

            // window.alert(
            //     "DownloadFile(" +
            //         "action: '" + source.target.id+"', " +
            //         "kg_id: '" + kg_id + "', " +
            //         "fileset_version: '" + fileset_version + "'" +
            //     "')"
            // );

            let file_set = kg_id + '/' + fileset_version
            let url = '{{backend}}' + file_set + '/' + source.target.id;

            console.log("Downloading URL: '" + url + "'");

            try {
                let a = document.createElement('a');
                a.href = url;

                // we need to append the element to the DOM,
                // otherwise it will not work in Firefox
                document.body.appendChild(a);
                a.click();

                // afterwards we remove the element again
                a.remove();

                // console.log('HTTP response code:', r.status);

            } catch(e) {
               console.log('File download error:', e);
            }

            // block further propagation of the event here?
            return false;
        }

        let self = this;

        $(document).ready(function () {

            $('#kg_name').autocomplete({
                minChars: 0,
                source: async function( request, response ) {
                    return await fetch("{{get_catalog}}")
                        .then(body => body.json())
                        .then(text => {
                            console.log(text)
                            return text
                        })
                        .then(text =>
                            Array.from(new Set(
                                text.replaceAll(/[\[\]]/g, '', ).split(', ')
                                    .map(str => str.replaceAll('\'', '', ))
                            ))
                        )
                        .then(array => response(array));
                }
            });

            $('#view_metadata').on('click', ViewMetadata);
            //$('#meta_knowledge_graph').on('click', DownloadFile);  # Content Metadata access moved to 'metadata' page
            $('#download').on('click', DownloadFile);
            $('#sha1hash').on('click', DownloadFile);
            $('#add_new_file_set').on('click', AddNewFileSet);

        });

    </script>
{% endblock %}
{% block body %}<body onload="getCatalog()">{% endblock %}
{% block menu %}
{% include "logout.button" %}
{% endblock %}
{% block title %}Welcome '{{submitter_name}}' to the<br>Knowledge Graph Exchange (KGE) Archive{% endblock %}
{% block content %}
    <table class="center_align proportioned">
        <tr>
            <td>
                <p class="center_align">
                    <a href="/register/graph"><button>Register a new Knowledge Graph</button></a></p>
                <!-- Don't need a form here - don't have the session_id anymore.
                     Simple clickable button is better, and is CSS formatted the same.
                     Use it now to avoid the trailing query parameter '?'-->
                <!-- form action="/register/graph" method="get">
                    <! -- https://stackoverflow.com/a/9882750/1991892 -- >
                    <input type="submit" value="Register KGE File Set" /><br>
                    <small>This is the first step required for uploading.</small>
                </form -->
            </td>
        </tr>
        <tr>
            <td>
                <!-- p><label for="kg_name"><b>Graph Name</b></label>
                <input id="kg_name" type="text"/ -->
                <!-- These kg_name and fileset_version widgets need to be
                     replaced with an integrated UI which takes the results
                     of call to /catalog, to give the user a list of available
                     KGE File Sets from which to select (by name) and
                     their associated versions (dynamically presented)-->
                <!-- TODO: When the catalog gets large, this could
                           also include a kind of type head search? -->
                <p class="center_align">
                    <label class="label" for="select_kg_id">Choose a Knowledge Graph:</label>
                    <select id="select_kg_id" onchange="showVersions(this)">
                    </select>
                    <br>
                    <!-- Once the given kg_name is selected, then the set of
                         associated versions need to be dynamically listed here? -->
                    <label class="label" for="select_fileset_version">File Set Version:</label>
                    <select id="select_fileset_version">
                    </select>
                </p>
                <p>
                    <button id="view_metadata">View Metadata</button>

                    <!-- Content Metadata access migrated to the 'View Metadata' page-->
                    <!-- button id="meta_knowledge_graph">Download Metadata</button -->

                    <button id="download">Download Data Archive</button>
                    <button id="sha1hash">SHA1 Hash</button>
                    <button id="add_new_file_set">Add New File Set</button>
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
