<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <title>Translator KGE Archive</title>
    {% endblock %}
    {% block scripts %}{% endblock %}
</head>
{% block body %}<body>{% endblock %}
    <p><div id="header">
        <p><img class="banner" src="images/banner.jpg" alt="Translator Banner"/>
        <p><div class="title">{% block title %}{% endblock %}</div>
        <p><div class="subtitle">{% block subtitle %}{% endblock %}</div>
        <div class="menu_bar">{% block menu %}{% endblock %}</div>
        <p></p>
    </div>
    <div id="content">
    <br>
    <p><div id="content">
        <p>{% block content %}{% endblock %}
    </div>
    <p><div id="footer">
        <p><div class="app_footer">{% block app_footer %}{% endblock %}</div>
        <div class="copyright_footer">
            {% block footer %}
            &copy; Copyright 2021 by the
            <a href="https://ncats.nih.gov/translator">NCATS Biomedical Data Translator</a>.
            {% endblock %}
        </div>
    </div>
</body>
</html>
