{% extends "layout.html" %}
{% block scripts %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"></script>
    <style>
        .metadata_header {
            font-weight: bold;
            /* background-color: #5e2ca5; */
            color: #5e2ca5;
        }
    </style>
    <script>
        function scrollable_text_box(msg) {
            return "<div style=\"height:100px;width:auto;overflow:auto;border:2px solid darkblue;padding:2%\">"+
                   msg+"</div>";
        }
        async function loadMetadata() {

            // window.alert("Loading metadata for FileSet version '{{fileset_version}}' of graph '{{kg_name}}'");

            // Retrieve fileset metadata for display
            fetch("{{get_fileset_metadata}}", {method: "GET", credentials: "include"})
                .then(
                    response => {
                        // window.alert("loadMetadata() FSM HTTP response code:" + response.status.toString());
                        // console.log("loadMetadata() FSM HTTP response code:" + response.status.toString());
                        response.json()
                            .then(metadata => {
                                // window.alert("JSON FSM metadata returned: " + JSON.stringify(metadata));
                                Object.entries(metadata).forEach(([tag1,value1]) => {
                                    //provider_metadata_table +=
                                    //      "<tr><th>" +  tag1[0].toUpperCase() + tag1.substring(1) + "</th>";
                                    // Each of the values of the metadata tags are objects
                                    let metadata_table = "<table class=\"metadata\">";
                                    Object.entries(value1).forEach(([tag2,value2]) => {
                                        let tag_words = tag2.split("_");
                                        let tag_label = "";
                                        tag_words.forEach(
                                            word => {
                                                if(word === "kg") {
                                                    word = "graph";
                                                }
                                                tag_label += word[0].toUpperCase() + word.substring(1) + " ";
                                            }
                                        )
                                        tag_label = tag_label.trim();
                                        if(tag2  === "files") {
                                            let file_list = "<ul class=\"metadata\">";
                                            value2.forEach(file_entry => {
                                                Object.entries(file_entry).forEach(([tag3, value3]) => {
                                                    file_list += "<ul><b>" + value3 + "</b></ul>";
                                                });
                                            });
                                            file_list += "</ul>";
                                            document.getElementById('file_details').innerHTML = file_list;
                                        } else {
                                            if(tag_label === "Size")  {
                                                tag_label += " (megabytes)";
                                                value2 = Math.round(value2*100)/100;
                                                value2 = value2.toLocaleString();
                                            }
                                            if (tag_label === "Graph Description")  {
                                                value2 = value2.replace(/\n/,"<br>");
                                                value2 = value2.replace(/^\s{4}?/m,"&nbsp;&nbsp;&nbsp;&nbsp;");
                                                //window.alert(value2);
                                                value2 = scrollable_text_box(value2)
                                            }
                                            if(tag_label === "License Url" || tag_label === "Terms Of Service" )  {
                                                value2 = "<a  style=\"color:blue;\" href=\"" +
                                                         value2 + "\">" + value2 + "</a>";
                                            }
                                            metadata_table += "<tr><th style=\"width:25%;\">" + tag_label +
                                                              "</th><td style=\"width:75%;\">" + value2 + "</td>";
                                        }
                                        metadata_table += "</tr>";
                                    });
                                    metadata_table += "</table>";
                                    if(tag1  ===  'provider') {
                                        document.getElementById('provider_metadata').innerHTML = metadata_table;
                                    } else if(tag1  ===  'fileset') {
                                        document.getElementById('fileset_metadata').innerHTML = metadata_table;
                                    } else {
                                        window.alert(
                                            "Unknown top level metadata tag: " + String(tag1) + "?...ignored!"
                                        );
                                    }
                                });
                            })
                            .catch(error => {
                                let err_msg = "loadMetadata() FSM response.text promise access ERROR: " + error;
                                console.log(err_msg);
                                window.alert(err_msg);
                            })
                    })
                .catch(error => {
                    let err_msg = "Top level loadMetadata() FSM fetch call ERROR: " + error;
                    console.log(err_msg);
                    window.alert(err_msg);
                });

            // Retrieve the meta knowledge graph for display
            fetch("{{meta_knowledge_graph}}?downloading=false", {method: "GET", credentials: "include"})
                .then(
                    response => {
                        console.log('loadMetadata() MKG HTTP response code:', response.status);
                        response.text()
                            .then(mkg_url => {
                                if (mkg_url === "unavailable") {
                                    document.getElementById('content_metadata').innerHTML = "Unavailable?";
                                } else {
                                    // window.alert("MKG URL: " + mkg_url);
                                    let a = document.createElement('a');
                                    a.href = mkg_url;
                                    a.text = "Download Here";
                                    document.getElementById('content_metadata').appendChild(a);
                                }
                            })
                            .catch(error => {
                                let err_msg = "loadMetadata() MKG response.text promise access ERROR: " + error;
                                console.log(err_msg);
                                window.alert(err_msg);
                            });
                    })
                .catch(error => {
                    let err_msg = "Top level loadMetadata() MKG fetch call ERROR: " + error;
                    console.log(err_msg);
                    window.alert(err_msg);
                });
        }

        $(document).ready(function () {

            $( "#accordion" ).accordion({
                active: 0,
                header: "h2",
                heightStyle: "content",
                animate: false,
                collapsible: true,
                classes: {
                    "ui-accordion-header": "ui-corner-top  metadata_header",
                }
            });

            // After initialization...

            // Getter
            //  let active = $( "#accordion" ).accordion( "option", "active" );

            // Setter
            //  $( "#accordion" ).accordion( "option", "active", 2 );
        });
    </script>
{% endblock %}
{% block body %}<body onload="loadMetadata()">{% endblock %}
{% block menu %}
{% include "logout.button" %}
{% include "home.button" %}
{% endblock %}
{% block title %}Knowledge Graph Metadata{% endblock %}
{% block content %}

<div id="accordion">
  <h2>Provider Metadata</h2>
  <div id="provider_metadata">Provider Metadata</div>
  <h2>File Set Metadata</h2>
  <div id="fileset_metadata">File Set Metadata</div>
  <h2>Files</h2>
  <div id="file_details">File Details</div>
  <h2>Content Metadata</h2>
    <div id="content_metadata"><span  class="metadata"><b>Content Metadata:</b></span> </div>
</div>

{% endblock %}
