{% extends "layout.html" %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"></script>
    <script>
        async function loadMetadata() {
            // window.alert("Loading metadata for FileSet version '{{kg_version}}' of graph '{{kg_name}}'");
            // window.alert("Fetching URL: {{get_file_set_contents}}");
            fetch("{{get_file_set_contents}}", {method: "GET", credentials: "include"})
                .then(
                    response => {
                        console.log('loadMetadata() HTTP response code:', response.status);
                        response.json()
                            .then(metadata => {
                                window.alert("JSON metadata returned: " + JSON.stringify(metadata));
                                let table = "";
                                Object.entries(metadata).forEach(([tag,value]) => {
                                    table += '<tr><th>' +  tag + '</th>';
                                    if(tag === 'files')  {
                                        table += '<td><table>';
                                        table += '<tr><th>Original<br>Name</th><th>Assigned<br>Name</th>' +
                                                 '<th>File<br>Type</th><th>Size<br>(MB)</th><th>Status</th></tr>';
                                        value.forEach(file_entry => {
                                            table += '<tr>';
                                            Object.entries(file_entry).forEach(([tag,value]) => {
                                                table += '<td>' + value  + '</td>';
                                            });
                                            table += '</tr>';
                                        });
                                        table += '</table></td>';
                                    } else {
                                        table += '<td>' + value  + '</td>';
                                    }
                                    table += '</tr>';
                                });
                                document.getElementById('metadata').innerHTML = table;
                            })
                            .catch(error => {
                                let err_msg = "loadMetadata() response.text promise access ERROR: " + error;
                                console.log(err_msg);
                                window.alert(err_msg);
                            })
                    })
                .catch(error => {
                    let err_msg = "Top level loadMetadata() fetch call ERROR: " + error;
                    console.log(err_msg);
                    window.alert(err_msg);
                });
        }

    </script>
{% endblock %}
{% block body %}<body onload="loadMetadata()">{% endblock %}
{% block menu %}
{% include "logout.button" %}
{% include "home.button" %}
{% endblock %}
{% block title %}Metadata for<br>Knowledge Graph '{{kg_name}} {{kg_version}}' {% endblock %}
{% block content %}
<table id="metadata"></table>
{% endblock %}
