{% extends "layout.html" %}
{% block title %}Confirmation of Submission{% endblock %}
{% block menu %}
{% include "logout.button" %}
{% include "home.button" %}
{% endblock %}
{% block content %}
<div style="width: 50%; margin-left: auto; margin-right: auto;">
    The KGE File Set <b>'{{fileset_version}}'</b> of <b>'{{kg_name}}'</b> submitted by <b>'{{submitter_name}}'</b>
        {% if validated %}
            should now
        {% else %}
            is currently being processed and should soon
        {% endif %}
    be available for downloading from the Home Page.
</div>
{% endblock %}
