{% extends "layout.html" %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/loadingio/loading-bar/master/dist/loading-bar.css"/>
    <script type="text/javascript" src="https://raw.githubusercontent.com/loadingio/loading-bar/master/dist/loading-bar.js"></script>
    {#    Spinner   #}
    <style>
      .spin {
        display: none; /*default*/
        width: 1em;
        height: 24px;
        border: 3px solid rgba(255, 255, 255, .3);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
      }
      @keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
      }

    </style>
    <style>
        #ldBar .ui-progressbar-value {
            background-color: var(--nc-lk-1);
        }

        .progress-label {
            color: var(--nc-tx-2);
            padding-left: 16px;
        }
    </style>

    <script type="text/javascript">
/* UI Elements */
// Progress Bar //
$("#ldBar").progressbar({
    value: 0,
})
$("#ldBar").css("display", "none")
let content_name = "unknown";

// TODO: Sanitize content_names as
// per AWS Object Key naming guidelines?
//docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html
function SetFileName(value) {
    content_name = value;
}

async function GetUrl(source) {
    // TODO: need a sensible heuristic here to guess a
    //       reasonable file name from a given content_url
    let url = new URL(source.value.trim());
    let pathname = url.pathname;
    if (pathname === "/") {
        content_name =
            Math.random().toString(16).substr(2, 8).toUpperCase() + ".kgx";
    } else {
        content_name = pathname.split("/")[1];
    }
    document.getElementById("file_name").value = content_name;
    SetFileName(content_name)
}

async function UploadFile(source) {

    console.log("UploadFile(upload_mode: '" + source.id + "')");

    let formData = new FormData();

    formData.append("kg_id", "{{kg_id}}");
    formData.append("fileset_version", "{{fileset_version}}");

    let kfc_radio = document.querySelector(
        "input[name=kgx_file_content]:checked"
    );
    let kgx_file_content = kfc_radio ? kfc_radio.value : "";
    formData.append("kgx_file_content", kgx_file_content);

    if (!kgx_file_content) {
        window.alert("Please select KGX content type to be uploaded.");
        return;
    }

    if (kgx_file_content === "archive") {
        window.alert(
            "Sorry, KGX 'tar.gz' compressed archives are not " +
            "yet fully handled in the interface (coming soon!)");
        return;
    }

    formData.append("upload_mode", source.id);

    if (source.id === "content_from_url") {

        // Transfer file from REST URL endpoint
        let content_url = document.getElementById("content_url").value;

        if (content_url) {
            console.log("Content URL: '" + content_url + "')");
            formData.append("content_url", content_url);
        } else {
            console.log("KGX content file URL is undefined?");
            window.alert("KGX content file URL is undefined");
            return;
        }

    } else if (source.id === "content_from_local_file") {

        let uploaded_file =
            document.getElementById("content_file").files[0];

        // For some reason, the "tsv" MIME type is
        // not directly detected, so we indirectly do so...
        let mime_type = uploaded_file.type;
        const filename = uploaded_file.name;
        const ext = filename.split('.').pop();
        if(ext === "tsv") {
            mime_type = "text/tab-separated-values";
        }
        // window.alert("File MIME type is: '"+mime_type+"'");

        // content_name = uploaded_file.name;

        if (uploaded_file) {

            // here, we protect against inadvertent the uploading
            // of a file for content metadata which is not json,
            // hence, is probably not the metadata?
            if(
                kgx_file_content === "metadata" &&
                mime_type !== "application/json"
            ) {
                window.alert("Content metadata files should be content type 'application/json'." +
                             " This file appears to be '"+ mime_type +"'");
                return;
            }

            console.log( "KGX " + kgx_file_content + " file being uploaded: '" + filename + "'");

            formData.append("uploaded_file", uploaded_file);
            formData.append("content_name", filename);

            document.getElementById("content_from_local_file").disabled = true;
            // document.getElementById('spinner').style.display = "inline-block";
            document.getElementById('percentage').style.display = "inline-block";
            document.getElementById('spinner-text').style.display = "inline-block";

            $("#ldBar").css('display', 'block')

            // We need to give the user some kind of
            // alternate progress monitor while waiting
            // for the 'real' value from S3
            let fake_progress = 0;

            const url = new URL(window.location.href);
            await fetch(`{{upload_action}}?kg_id=${url.searchParams.get("kg_id")}&fileset_version=${url.searchParams.get("fileset_version")}&kgx_file_content=${kgx_file_content}&upload_mode=${source.id}&content_name=${uploaded_file.name}`,
                {
                    method: "GET",
                    credentials: "include"
                }
            )
                .then(r => r.json())
                .then(async result => {
                    formData.append('upload_token', result.upload_token)
                    fetch(`{{upload_action}}`, {
                        method: "POST",
                        body: formData,
                        credentials: "include"
                    })
                    return result.upload_token
                })
                .then(async upload_token => {

                    // use mutual recursion to create a progress element that always updates the exact amount required
                    document.getElementById('percentage').textContent = `(0.0%)`;

                    let delay = 1000;

                    // callback for mutual recursion
                    async function askForProgress() {
                        return await fetch(`{{upload_action}}/progress?upload_token=${upload_token}`, {credentials: "include"})
                            .then(r => r.json())
                            .then(j => {
                                let progress_ratio = 0;
                                if (!!j.end_position) {
                                    delay = 1000;
                                    progress_ratio = j.current_position / j.end_position;
                                } else {
                                    delay = 5000;
                                    if(fake_progress < 900) {
                                        fake_progress++;
                                    }
                                    progress_ratio = fake_progress / 1000
                                }
                                let percentage = Number(progress_ratio * 100).toFixed(1);
                                document.getElementById('percentage').textContent = `(${percentage}%)`;
                                let progressbar = $("#ldBar");
                                progressbar.progressbar({
                                    // ceil to err on the side of displaying progress
                                    value: Math.ceil(progress_ratio * 100)
                                });
                                return j;
                            })
                    }

                    // timer helper for deferring execution of next recursion step
                    // "value" will be a function here
                    function later(delay, value) {
                        return new Promise(resolve => setTimeout(resolve, delay, value));
                    }

                    // control flow for mutual recursion
                    async function execute(callback) {
                        return await callback().then(async received => {
                            // NOTE: Sometimes it takes awhile for
                            // received.end_position to initialize, particularly
                            // if the file size is > ~1GB (works fine at ~300mb).
                            // In that case, received.end_position is going
                            // to be undefined. So this will still execute and
                            // essentially wait until received.end_position is
                            // defined, and will stop once received.current_position
                            // is equal to j.end_position (because the file has
                            // been completely read and uploaded).
                            if (!(received.current_position === received.end_position)) {
                                return await later(delay, askForProgress).then(execute)
                            }
                        })
                    }

                    // put the pieces together
                    try {
                        return await later(delay, askForProgress).then(execute);
                    } catch (e) {
                        console.error(e);
                    }

                })

            document.getElementById("content_from_local_file").disabled = false;

            if (kgx_file_content === "metadata") {
                document.getElementById("uploaded_metadata").innerHTML += "<li>"+filename+"</li>"
            } else if (kgx_file_content === "nodes") {
                document.getElementById("uploaded_node_files").innerHTML += "<li>"+filename+"</li>"
            } else if (kgx_file_content === "edges") {
                document.getElementById("uploaded_edge_files").innerHTML += "<li>"+filename+"</li>"
            }

            // document.getElementById('spinner").style.display = "none";
            document.getElementById("percentage").style.display = "none";
            document.getElementById("spinner-text").style.display = "none";
            $("#ldBar").css('display', 'none')
            $("#ldBar").progressbar({
                value: 0
            })

        } else {
            console.log("KGX " + kgx_file_content + " file is undefined?");
            window.alert("KGX " + kgx_file_content + " file is undefined");
            return;
        }
    }
}

async function DoneUploading(source) {
    if (source.id === 'done_uploading') {
        try {
            let a = document.createElement("a");
            a.href = "{{publish_file_set_action}}/{{kg_id}}/{{fileset_version}}";
            document.body.appendChild(a);
            a.click();
            a.remove();
        } catch (e) {
            console.log("DoneUploading error:", e);
        }
    }
}
</script>
{% endblock %}
{% block body %}{% endblock %}
{% block menu %}
{% include "logout.button" %}
{% include "home.button" %}
<div class="menu_item">
<button id="done_uploading" onclick="DoneUploading(this)">Done Uploading</button>
</div>
{% endblock %}
{% block title %}Upload Knowledge Graph<br>{{kg_name}} {{fileset_version}}{% endblock %}
{% block subtitle %}Submitted by '{{submitter_name}}'{% endblock %}
{% block content %}
<div class="subtitle"></div>
<p><b>Disclaimer:</b> KGX validation of uploaded node and edges files is not yet in operation at this time,
    therefore, please ensure that you have validated your files (with KGX tools) prior to uploading.</p>
<table>
    <tr>
        <td rowspan="2">
            <div class="header" style="text-align: center;">
                KGX Content Type
            </div>
            <input type="radio" id="metadata" name="kgx_file_content" value="metadata" checked>
            <label  class="label" for="metadata">Metadata</label>
            <div class="tooltip">
                <img class="tooltip_target" src="/images/help-icon.png" width="12" height="12" alt="help"/>
                <span class="tooltiptext">
                    (*) Must be a valid KGX metadata JSON file generated from your dataset.
                </span>
            </div>
            <p></p>
            <input type="radio" id="nodes" name="kgx_file_content" value="nodes">
            <label class="label" for="nodes">Nodes</label>
            <div class="tooltip">
                <img class="tooltip_target" src="/images/help-icon.png" width="12" height="12" alt="help"/>
                <span class="tooltiptext">
                    (*) Must be valid (possibly 'gzip' compressed) KGX-compliant TSV formatted 'nodes' file.
                </span>
            </div>
            <p></p>
            <input type="radio" id="edges" name="kgx_file_content" value="edges">
            <label class="label" for="edges">Edges</label>
            <div class="tooltip">
                <img class="tooltip_target" src="/images/help-icon.png" width="12" height="12" alt="help"/>
                <span class="tooltiptext">
                        (*) Must be valid (possibly 'gzip' compressed) KGX-compliant TSV formatted 'edges' file.
                </span>
            </div>
            <p></p>
            <!--
            <input type="radio" id="archive" name="kgx_file_content" value="archive">
            <label class="label" for="archive">KGX Archive</label>
            <div class="tooltip">
                <img class="tooltip_target" src="/images/help-icon.png" width="12" height="12" alt="help"/>
                <span class="tooltiptext">
                        If a KGX Archive is given, then the local
                            uploaded file or a transfer from URL is assumed to be a gzip'd
                            compressed tar file with the name 'kge.tar.gz' containing one
                            of each of both a KGX-compliant 'nodes.tsv' and 'edges.tsv'
                            file for the knowledge graph, with or without an associated
                            KGX-compliant 'metadata.json' file.
                </span>
            </div>
            -->
    <p></p>
        </td>
        <td>
            <div class="header">
                Upload from your computer
            </div>
            <p>Choose a KGX content type for uploading.</p>
            <span>
                <label for="content_file"><b>Select File</b></label><br>
                <input id="content_file"  class="textbox" type="file" style="display: inline-block"/>
                <button id="content_from_local_file" onclick="UploadFile(this)" style="display: inline-block">
                    Upload
                </button>
                <br>
                <span id="ldBar" style="background: transparent; height: 1em; display:inline">
                </span>
                <span id="percentage" class="progress-label" style="display:none;"></span>
                <span id="spinner-text" style="font-size: smaller; display:none;">
Uploading file, please don't navigate away from the page...</span>
               <!-- div id="spinner" class="spin"></div -->


            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <em>Files uploaded:</em><br>
            <b>Metadata:</b><br>
            <ul id="uploaded_metadata"></ul>
            <b>Nodes:</b><br>
            <ul id="uploaded_node_files"></ul>
            <b>Edges:</b><br>
            <ul id="uploaded_edge_files"></ul>
        </td>
    </tr>
    <!-- <tr>
        <td>
            <h4>Transfer from a URL</h4>
            <label for="content_url"><b>URL to File</b></label><br>
            <input id="content_url" type="text" oninput="GetUrl(this)"/>
            <br><label for="file_name"><b>File Name</b></label><br>
            <input id="file_name" type="text" onchange="SetFileName(this.value)"/><br>
            <button id="content_from_url" onclick="UploadFile(this)">Initiate Transfer</button>
        </td>
    </tr> -->
</table>
{% endblock %}
{% block app_footer %}
(*) Read more about KGX formatted (meta-)data files
<a href="https://github.com/biolink/kgx/blob/master/data-preparation.md" target="_blank">here</a>
{% endblock %}
