{% extends "layout.html" %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/loadingio/loading-bar/master/dist/loading-bar.css"/>
    <script type="text/javascript" src="https://raw.githubusercontent.com/loadingio/loading-bar/master/dist/loading-bar.js"></script>
    {#    Spinner   #}
    <style>
      .spin {
        display: none; /*default*/
        width: 1em;
        height: 24px;
        border: 3px solid rgba(255, 255, 255, .3);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
      }
      @keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        to {
          -webkit-transform: rotate(360deg);
        }
      }

    </style>
    <style>
        #ldBar .ui-progressbar-value {
            background-color: var(--nc-lk-1);
        }
        #ldBar_link .ui-progressbar-value {
            background-color: var(--nc-lk-1);
        }
        .progress-label {
            color: var(--nc-tx-2);
            padding-left: 16px;
        }
    </style>

    <script type="text/javascript">
/* UI Elements */
// Progress Bar //
$("#ldBar").progressbar({
    value: 0,
})
$("#ldBar").css("display", "none")
$("#ldBar_link").progressbar({
    value: 0,
})
$("#ldBar_link").css("display", "none")

let content_name = "unknown";

// TODO: Sanitize content_names as
// per AWS Object Key naming guidelines?
//docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html
function SetFileName(value) {
    content_name = value;
}

function GetFileName() {
    return content_name;
}

async function GetUrl(source) {
    // TODO: need a sensible heuristic here to guess a
    //       reasonable file name from a given content_url
    let url = new URL(source.value.trim());
    let pathname = url.pathname;
    if (pathname === "/") {
        content_name =
            Math.random().toString(16).substr(2, 8).toUpperCase() + ".kgx";
    } else {
        let file_path_parts = pathname.split("/");
        content_name = file_path_parts[file_path_parts.length-1]
    }
    document.getElementById("file_name").value = content_name;
    SetFileName(content_name)
}

/*
 * We set progress monitoring polling
 * delay to 5 seconds per request
 */
let monitor_interval = 5000;

let transfer_in_progress = false;

async function UploadFile(source) {

    console.log("UploadFile(upload_mode: '" + source.id + "')");

    let formData = new FormData();

    formData.append("kg_id", "{{kg_id}}");
    formData.append("fileset_version", "{{fileset_version}}");

    let kfc_radio = document.querySelector(
        "input[name=kgx_file_content]:checked"
    );
    let kgx_file_content = kfc_radio ? kfc_radio.value : "";
    formData.append("kgx_file_content", kgx_file_content);

    if (!kgx_file_content) {
        window.alert("Please select KGX content type to be uploaded.");
        return;
    }

    if (kgx_file_content === "archive") {
        window.alert(
            "Sorry, KGX 'tar.gz' compressed archives are not " +
            "yet fully handled in the interface (coming soon!)");
        return;
    }

    // Need to know where I am in the internet space...
    const url = new URL(window.location.href);

    formData.append("upload_mode", source.id);

    if (source.id === "content_from_url") {

        // Transfer file from REST URL endpoint
        let content_url = document.getElementById("content_url").value;

        if (content_url) {
            if (content_name.split('.')[1] !== 'json' && kgx_file_content === 'metadata') {
                console.warn("Non-JSON file attempted to be used with metadata file type.");
                window.alert("You can't upload a non-JSON file for metadata. This file appears to be '"+ content_name.split('.')[1] +".\n\nUse a different file link.");
            } else {

                console.log("Content URL being uploaded: '" + content_url + "')");

                formData.append("content_url", content_url);

                let file_name = document.getElementById("file_name").value;

                document.getElementById("content_from_url").disabled = true;
                document.getElementById("content_from_local_file").disabled = true;
                transfer_in_progress = true;

                document.getElementById('percentage_link').style.display = "inline-block";
                document.getElementById('spinner-text_link').style.display = "inline-block";
                $("#ldBar_link").css('display', 'block')

                // somehow post the direct file URL transfer here?
                //window.alert("Direct transfer of file from URL: " + content_url);
                let duta_endpoint = `{{direct_url_transfer_action}}?kg_id=${url.searchParams.get("kg_id")}&fileset_version=${url.searchParams.get("fileset_version")}&kgx_file_content=${kgx_file_content}&content_url=${content_url}&content_name=${file_name}`;
                let fake_progress = 0;

                //window.alert("Direct URL transfer action endpoint: " + duta_endpoint);
                await fetch(duta_endpoint, {
                        method: "GET",
                        credentials: "include"
                    }
                )
                    .then(r => r.json())
                    .then(async result => {
                        let msg = JSON.stringify(result)
                        console.log("Content URL transfer response:" + msg);
                        //window.alert("Content URL transfer response:" + msg);
                        transfer_in_progress = result.upload_token;
                        return result.upload_token
                    })
                    // handle progress bar related requests
                    .then(async upload_token => {
                        console.log('attempting to trigger progress monitoring with progress bar')
                        // use mutual recursion to create a progress element that always updates the exact amount required
                        document.getElementById('percentage_link').textContent = `(0.0%)`;

                        // callback for mutual recursion
                        async function askForProgress() {
                            if(!Boolean(transfer_in_progress)) {
                                // Sanity check to break the looping of the progress bar?
                                let j = Object();
                                j.current_position = j.end_position = 1;
                                return j;
                            }
                            return await fetch(`{{upload_action}}/progress?upload_token=${upload_token}`, {credentials: "include"})
                                .then(r => r.json())
                                .then(j => {
                                    let progress_ratio = 0;
                                    if (!!j.end_position) {
                                        progress_ratio = j.current_position / j.end_position;
                                    } else {
                                        if(fake_progress < 900) {
                                            fake_progress++;
                                        }
                                        progress_ratio = fake_progress / 1000
                                    }
                                    let percentage = Number(progress_ratio * 100).toFixed(1);
                                    document.getElementById('percentage_link').textContent = `(${percentage}%)`;
                                    let progressbar = $("#ldBar_link");
                                    progressbar.progressbar({
                                        // ceil to err on the side of displaying progress
                                        // min to set a bound on how large progress can be (greater than 100% is 100%)
                                            // happens
                                        value: Math.min(Math.ceil(progress_ratio * 100), 100)
                                    });
                                    return j;
                                })
                        }

                        // timer helper for deferring execution of next recursion step
                        // "value" will be a function here
                        function later(monitor_interval, value) {
                            return new Promise(resolve => setTimeout(resolve, monitor_interval, value));
                        }

                        // control flow for mutual recursion
                        async function execute(callback) {
                            return await callback().then(async received => {
                                // NOTE: Sometimes it takes awhile for
                                // received.end_position to initialize, particularly
                                // if the file size is > ~1GB (works fine at ~300mb).
                                // In that case, received.end_position is going
                                // to be undefined. So this will still execute and
                                // essentially wait until received.end_position is
                                // defined, and will stop once received.current_position
                                // is equal to j.end_position (because the file has
                                // been completely read and uploaded).
                                if (received.end_position === -1) {
                                    // error
                                    throw Error('Upload failed! (End position set to -1 - check server logs for information)')
                                }
                                if (received.current_position > received.end_position) {
                                    // error
                                    throw Error('Upload failed! (Current position is larger than end position?)')
                                }
                                if (!(received.current_position === received.end_position)) {
                                    return await later(monitor_interval, askForProgress).then(execute)
                                }
                                // success
                                return true;
                            })
                        }

                        // put the pieces together
                        try {
                            return await later(monitor_interval, askForProgress).then(execute)
                        } catch (e) {
                            console.error(e);

                            document.getElementById("content_url").value = "";
                            document.getElementById("file_name").value = "";

                            update_file_list(kgx_file_content, GetFileName(), "Error!");
                            SetFileName("unknown");

                            // document.getElementById('spinner").style.display = "none";
                            document.getElementById("percentage_link").style.display = "none";
                            document.getElementById("spinner-text_link").style.display = "none";
                            $("#ldBar_link").css('display', 'none')
                            $("#ldBar_link").progressbar({
                                value: 0
                            })
                        }
                    })
                    .then(async foo => {
                        console.log({event:"Transfer of url specified resource done"})
                    })

                    document.getElementById("content_from_url").disabled = false;
                    document.getElementById("content_from_local_file").disabled = false;

                    document.getElementById("content_url").value = ""
                    document.getElementById("file_name").value = ""

                    if(!Boolean(transfer_in_progress)) {
                        // transfer was probably cancelled, so signal this as such
                        update_file_list(kgx_file_content, GetFileName(), "Transfer Cancelled?")
                    } else {
                        // .. then post the file name transferred
                        update_file_list(kgx_file_content, GetFileName(), "Uploaded!")
                        transfer_in_progress = false;
                    }
                    SetFileName("unknown")

                    // document.getElementById('spinner").style.display = "none";
                    document.getElementById("percentage_link").style.display = "none";
                    document.getElementById("spinner-text_link").style.display = "none";
                    $("#ldBar_link").css('display', 'none')
                    $("#ldBar_link").progressbar({
                        value: 0
                    })
            }

        } else {
            console.log("KGX content file URL is undefined?");
            window.alert("KGX content file URL is undefined");
        }

    } else if (source.id === "content_from_local_file") {

        let uploaded_file =
            document.getElementById("content_file").files[0];

        // For some reason, the "tsv" MIME type is
        // not directly detected, so we indirectly do so...
        let mime_type = uploaded_file.type;

        const filename = uploaded_file.name;
        SetFileName(filename);
        const ext = filename.split('.').pop();
        if(ext === "tsv") {
            mime_type = "text/tab-separated-values";
        }
        // window.alert("File MIME type is: '"+mime_type+"'");

        // content_name = uploaded_file.name;

        if (uploaded_file) {

            // here, we protect against inadvertent the uploading
            // of a file for content metadata which is not json,
            // hence, is probably not the metadata?
            if(
                kgx_file_content === "metadata" &&
                mime_type !== "application/json"
            ) {
                window.alert("You can't upload a non-JSON file for metadata." +
                             " This file appears to be '"+ mime_type +"'.\n\nUse a different file.");
                return;
            }

            console.log( "KGX " + kgx_file_content + " file being uploaded: '" + filename + "'");

            formData.append("uploaded_file", uploaded_file);
            formData.append("content_name", filename);

            document.getElementById("content_from_url").disabled = true;
            document.getElementById("content_from_local_file").disabled = true;
            transfer_in_progress = true;

            document.getElementById('percentage').style.display = "inline-block";
            document.getElementById('spinner-text').style.display = "inline-block";
            $("#ldBar").css('display', 'block')

            // We need to give the user some kind of alternate
            // progress monitor while waiting for the 'real' value from S3
            let fake_progress = 0;
            let ua_endpoint =`{{upload_action}}?kg_id=${url.searchParams.get("kg_id")}&fileset_version=${url.searchParams.get("fileset_version")}&kgx_file_content=${kgx_file_content}&upload_mode=${source.id}&content_name=${uploaded_file.name}`;
            //window.alert("upload_action endpoint: " + ua_endpoint);
            await fetch(ua_endpoint,                {
                    method: "GET",
                    credentials: "include"
                }
            )
            .then(r => r.json())
            .then(async result => {
                formData.append('upload_token', result.upload_token)
                fetch(`{{upload_action}}`, {
                    method: "POST",
                    body: formData,
                    credentials: "include"
                })
                transfer_in_progress = result.upload_token;
                return result.upload_token
            })
            // handle progress bar related requests
            .then(async upload_token => {

                // use mutual recursion to create a progress element that always updates the exact amount required
                document.getElementById('percentage').textContent = `(0.0%)`;

                // callback for mutual recursion
                async function askForProgress() {
                    if(!Boolean(transfer_in_progress)) {
                        // Sanity check to break the looping of the progress bar?
                        let j = Object();
                        j.current_position = j.end_position = 1;
                        return j;
                    }
                    return await fetch(`{{upload_action}}/progress?upload_token=${upload_token}`, {credentials: "include"})
                        .then(r => r.json())
                        .then(j => {
                            let progress_ratio = 0;
                            if (!!j.end_position) {
                                progress_ratio = j.current_position / j.end_position;
                            } else {
                                if(fake_progress < 900) {
                                    fake_progress++;
                                }
                                progress_ratio = fake_progress / 1000
                            }
                            let percentage = Number(progress_ratio * 100).toFixed(1);
                            document.getElementById('percentage').textContent = `(${percentage}%)`;
                            let progressbar = $("#ldBar");
                            progressbar.progressbar({
                                // ceil to err on the side of displaying progress
                                // min to set a bound on how large progress can be (greater than 100% is 100%)
                                    // happens
                                value: Math.min(Math.ceil(progress_ratio * 100), 100)
                            });
                            return j;
                        })
                }

                // timer helper for deferring execution of next recursion step
                // "value" will be a function here
                function later(monitor_interval, value) {
                    return new Promise(resolve => setTimeout(resolve, monitor_interval, value));
                }

                // control flow for mutual recursion
                async function execute(callback, ...args) {
                    return await callback(args).then(async received => {
                        // NOTE: Sometimes it takes awhile for
                        // received.end_position to initialize, particularly
                        // if the file size is > ~1GB (works fine at ~300mb).
                        // In that case, received.end_position is going
                        // to be undefined. So this will still execute and
                        // essentially wait until received.end_position is
                        // defined, and will stop once received.current_position
                        // is equal to j.end_position (because the file has been completely read and uploaded).
                        if (received.end_position === -1) {
                            // error
                            throw Error('Upload failed! (End position set to -1 - check server logs for information)')
                        }
                        if (received.current_position > received.end_position) {
                            // error
                            throw Error('Upload failed! (Current position is larger than end position?)')
                        }
                        if (!(received.current_position === received.end_position)) {
                            return await later(monitor_interval, askForProgress).then(execute)
                        }
                        // success
                        return true;
                    })
                }

                // put the pieces together
                try {
                    return await later(monitor_interval, askForProgress).then(execute)
                } catch (e) {
                    console.error(e);

                    // .. then post the file name transferred
                    update_file_list(kgx_file_content, GetFileName(), "Error!")
                    SetFileName("unknown");

                    // document.getElementById('spinner").style.display = "none";
                    document.getElementById("percentage").style.display = "none";
                    document.getElementById("spinner-text").style.display = "none";
                    $("#ldBar").css('display', 'none')
                    $("#ldBar").progressbar({
                        value: 0
                    })
                }

            })
            .then(async foo => {
                console.log({event:"Upload of local file done"})
            })

            document.getElementById("content_from_url").disabled = false;
            document.getElementById("content_from_local_file").disabled = false;

            document.getElementById("content_file").value = null;

            if(!Boolean(transfer_in_progress)) {
                // transfer was probably cancelled, so signal this as such
                update_file_list(kgx_file_content, GetFileName(), "Transfer Cancelled?")
            } else {
                // .. then post the file name transferred
                update_file_list(kgx_file_content, GetFileName(), "Uploaded!")
                transfer_in_progress = false;
            }
            SetFileName("unknown")

            // document.getElementById('spinner").style.display = "none";
            document.getElementById("percentage").style.display = "none";
            document.getElementById("spinner-text").style.display = "none";
            $("#ldBar").progressbar({
                value: 0
            })
            $("#ldBar").css('display', 'none')

        } else {
            console.log("KGX " + kgx_file_content + " file is undefined?");
            window.alert("KGX " + kgx_file_content + " file is undefined");
        }
    }
}

/* the 'status' is simply a client specified status of the file
   in the list: 'uploaded' (if local upload) or 'processing' (direct url) */
function update_file_list(kgx_file_content, filename, status) {
    if (kgx_file_content === "metadata") {
        document.getElementById("uploaded_metadata").innerHTML += "<li>"+filename+" ("+status+")</li>"
    } else if (kgx_file_content === "nodes") {
        document.getElementById("uploaded_node_files").innerHTML += "<li>"+filename+" ("+status+")</li>"
    } else if (kgx_file_content === "edges") {
        document.getElementById("uploaded_edge_files").innerHTML += "<li>"+filename+" ("+status+")</li>"
    }
}

async function DoneUploading(source) {
    if(Boolean(transfer_in_progress)) {
        if (await CancelUploading()) {
            // ... then, ask what the user wants to do next...
            if (!confirm("Continue with post-processing of the file set?")) {
                try {
                    let a = document.createElement("a");
                    a.href = "/home";
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                } catch (e) {
                    console.log("Cancellation error...", e);
                }
            }
            /*
             else, drop through to continue with
             post-processing of the fileset
            */
        } else {
            /*
             Ignore the button - user wants to keep
             uploading or transferring the file...
            */
            return;
        }
    }
    // Otherwise, go to post-processing
    if (source.id === 'done_uploading') {
        try {
            let a = document.createElement("a");
            a.href = "{{publish_file_set_action}}/{{kg_id}}/{{fileset_version}}";
            document.body.appendChild(a);
            a.click();
            a.remove();
        } catch (e) {
            console.log("DoneUploading error:", e);
        }
    }
}

async function CancelUploading() {
    if (Boolean(transfer_in_progress) && confirm("Warning: file transfer still in progress... Abort?")) {
        console.log("Cancelling active upload/transfer (token: '" + transfer_in_progress + "')");
        let ca_endpoint = `{{cancel_upload_action}}?upload_token=${transfer_in_progress}`;
        await fetch(
            ca_endpoint,
            {
                method: "DELETE",
                credentials: "include"
            }
        )
        .then(response => {
            if (!response.ok) {
                throw new Error('Upload cancellation failed with http code ' + str(response.status));
            }
        })
        .catch(err => {
            console.log(err);
            alert(err);
        })
        .finally(() => {
            transfer_in_progress = false;
        });
        return true;
    } else {
        // Cancellation aborted by user?
        return false;
    }
}

// Helper
// Convert bytes into human-readable strings
function getSize(size) {
    const sizes = [' Bytes', ' KB', ' MB', ' GB',
                 ' TB', ' PB', ' EB', ' ZB', ' YB'];

    for (let i = 1; i < sizes.length; i++) {
        if (size < Math.pow(1024, i))
          return (Math.round((size / Math.pow(
            1024, i - 1)) * 100) / 100) + sizes[i - 1];
    }
    return size;
}


</script>
{% endblock %}
{% block menu %}
<div class="menu_item">
<button id="done_uploading" onclick="DoneUploading(this)">Done Uploading</button>
</div>
<div class="menu_item">
<button id="cancel_transfer" onclick="CancelUploading()">Cancel Uploading</button>
</div>
{% include "logout.button" %}
{% include "home.button" %}
{% endblock %}
{% block title %}Upload Knowledge Graph<br>{{kg_name}} {{fileset_version}}{% endblock %}
{% block subtitle %}Submitted by '{{submitter_name}}'{% endblock %}
{% block content %}
<div class="subtitle"></div>
<table>
    <tr>
        <td rowspan="3">
            <div class="header" style="text-align: center;">
                KGX Content Type
            </div>
            <input type="radio" id="metadata" name="kgx_file_content" value="metadata" checked>
            <label  class="label" for="metadata">Metadata</label>
            <div class="tooltip">
                <img class="tooltip_target" src="/images/help-icon.png" width="12" height="12" alt="help"/>
                <span class="tooltiptext">
                    (*) Must be a valid KGX metadata JSON file generated from your dataset.
                </span>
            </div>
            <p></p>
            <input type="radio" id="nodes" name="kgx_file_content" value="nodes">
            <label class="label" for="nodes">Nodes</label>
            <div class="tooltip">
                <img class="tooltip_target" src="/images/help-icon.png" width="12" height="12" alt="help"/>
                <span class="tooltiptext">
                    (*) Must be valid (possibly 'gzip' compressed) KGX-compliant TSV formatted 'nodes' file.
                    Multiple files may be uploaded, but the first file should have a proper TSV header line at the top.
                </span>
            </div>
            <p></p>
            <input type="radio" id="edges" name="kgx_file_content" value="edges">
            <label class="label" for="edges">Edges</label>
            <div class="tooltip">
                <img class="tooltip_target" src="/images/help-icon.png" width="12" height="12" alt="help"/>
                <span class="tooltiptext">
                    (*) Must be valid (possibly 'gzip' compressed) KGX-compliant TSV formatted 'edges' file.
                    Multiple files may be uploaded, but the first file should have a proper TSV header line at the top.
                </span>
            </div>
            <p></p>
                <!--
                <input type="radio" id="archive" name="kgx_file_content" value="archive">
                <label class="label" for="archive">KGX Archive</label>
                <div class="tooltip">
                    <img class="tooltip_target" src="/images/help-icon.png" width="12" height="12" alt="help"/>
                    <span class="tooltiptext">
                            If a KGX Archive is given, then the locally uploaded file,
                            or a direct URL transfer from URL, is assumed to be a gzip'd
                            compressed tar file with the name '<root file name>.tar.gz'
                            containing one of each of both a KGX-compliant 'nodes.tsv'
                            and 'edges.tsv' file for the knowledge graph, (preferrably!) with
                            an associated KGX-compliant 'content_metadata.json' file.
                    </span>
                </div>
                -->
            <p></p>
        </td>
        <td colspan="2">
            <div class="header">
                Upload from your computer
            </div>
            <p>Choose a KGX content type for uploading.</p>
            <span>
                <label for="content_file"><b>Select File:</b></label><br>
                <input id="content_file"  class="textbox" type="file" style="display: inline-block"/>
                <button id="content_from_local_file"  onclick="UploadFile(this)" style="display: inline-block">
                    Upload
                </button>
                <br>
                <span id="ldBar" style="background: transparent; height: 1em; display:inline">
                </span>
                <span id="percentage" class="progress-label" style="display:none;"></span>
                <span id="spinner-text" style="font-size: smaller; display:none;">
Uploading file, please don't navigate away from the page...</span>
               <!-- div id="spinner" class="spin"></div -->
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <div class="header">
                Transfer from a URL
            </div>
            <label for="content_url"><b>URL:</b></label>
            <input id="content_url" type="text" size="50" oninput="GetUrl(this)"/><br>
            <label for="file_name"><b>File Name:</b></label>
            <input id="file_name" type="text" size="30" onchange="SetFileName(this.value)"/>

            <button id="content_from_url" onclick="UploadFile(this)">Transfer</button>
            <!--
            <div class="tooltip">
                <img class="tooltip_target" src="/images/help-icon.png" width="12" height="12" alt="help"/>
                <span class="tooltiptext">
                    Note: this operation triggers a background server process for the direct
                    transfer of a file from an internet URL, which is not guaranteed to be
                    completed during the given user upload session (especially, for large files)
                </span>
            </div>
            -->
            <br>
            <p>
            <span id="ldBar_link" style="background: transparent; height: 1em; display:inline"></span>
            <span id="percentage_link" class="progress-label" style="display:none;"></span>
            <span id="spinner-text_link" style="font-size: smaller; display:none;"></span>
        </td>
    </tr>
    <tr>

    </tr>
    <tr>
        <td colspan="2">
            <em>Files uploaded:</em><br>
            <b>Metadata:</b><br>
            <ul id="uploaded_metadata"></ul>
            <b>Nodes:</b><br>
            <ul id="uploaded_node_files"></ul>
            <b>Edges:</b><br>
            <ul id="uploaded_edge_files"></ul>
        </td>
    </tr>
</table>
<p><b>Disclaimer:</b> KGX validation of uploaded node and edges files is not yet in operation at this time,
therefore, please ensure that you have validated your files (with KGX tools) prior to uploading. Do also consider using
the <b>kgx graph-summary -r meta-knowledge-graph</b> tool to generate a (content) metadata file for uploading.</p>
{% endblock %}
{% block app_footer %}
(*) Read more about KGX formatted (meta-)data files
<a href="https://github.com/biolink/kgx/blob/master/data-preparation.md" target="_blank">here</a>
{% endblock %}
