/* body {
  background-color: #DDA0DD;
}

h1 {
  color: navy;
  margin-left: 20px;
} */

img.banner {
  max-width: 50%;
  height: auto;
}

.menu_bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 5px;
}

.menu_item {
  float: right;
  padding: 5px;
}

.title {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
  padding: 5px;
}

.subtitle {
  color: #5e2ca5;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: medium;
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
  padding: 5px;
}

.app_footer {
  color: #5e2ca5;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: small;
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
  padding: 5px;
}

.copyright_footer {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: small;
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
  padding: 5px;
}

label {
  font-weight: bold;
}

/*
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
*/
