{% extends "layout.html" %}
{% block menu %}
{% include "logout.html" %}
{% endblock %}
{% block content %}
<h1>Register your File Set</h1>
<form method="post"
      action="{{registration_action}}"
      enctype="application/x-www-form-urlencoded"
      accept-charset="utf-8"
>
    <br>
    <h4>Knowledge Graph Name</h4>
    <p>
    A short name that identifies and describes your knowledge graph. <em>Do not use whitespace or special characters</em>.<br>
    For examples of good names, see the <a href="https://smart-api.info/registry">SmartAPI Registry</a>.<br>
    </p>
    <input class="textbox" type="text" name="kg_name"  />
    <h4>Your Name</h4>
    <p>Or, the name of the researcher or institution that contributed the dataset.</p>
    <input class="textbox" type="text" name="submitter" />
    <br><br>
    <p><input type="submit" value="Register"></p>
</form>
{% endblock %}
